<!DOCTYPE html>
<html>
    {{> header}}
    <body>
        {{> navbar}}
        <h1>{{pageTitle}}</h1>
        <p>
            Lorem ipsum dolor sit amet.
        </p>
    </body>
    {{> footer}}
</html> 