<!DOCTYPE html>
<html>
    {{> header}}
    {{> navbar}}
    <body>
        <h1>{{pageTitle}}</h1>
        <p>
            <strong>Coming soon:</strong>> Projects.
        </p>
    </body>
    {{> footer}}
</html> 